<html>
<head></head>
<body>
	<p>
	<form>
		Enter your text to be cipher.<br><br>
		<input type='text' name='text' /> <br><br>
	
		Enter a number as a convertion factor.<br><br>
		<input type='text' name='number'> <br><br>
		<input type="submit" name="Cipher">
	</form>
	</p>	
	<p>
		Your cipher text is: <%= cipher %>
	</p>
	
</body>	
</html>