*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	background: #ecd4a380;
}

h1, h2 {
	text-align: center;
}

.container {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.container h1 {
	margin: 60px 0;
	color: #9b5225cc;
	font-size: 50px;
	text-transform: uppercase;
	font-family: 'Anton', sans-serif;
	letter-spacing: 3px;
	-webkit-text-fill-color: #fba82c80;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #6c1f1f;
}

.container h2 {
	font-size: 35px;
}

.gameboard {
	width: 500px;
	height: 500px;
	border-collapse: collapse;
	margin: 0 auto;
}

.gameboard td {
	background-color: white;
	color: #9b5225cc;
	font-size: 100px;
	text-align: center;
	border: 2px solid #de8c31;
	width: 33.3%;
	height: 33.3%;
	line-height: 0;
	cursor: pointer;
}

.game-overlay {
	width: 100%;
	height: 100%;
	background: rgba(21, 17, 15, 0.93);
	position: fixed;
	display: none;
	z-index: 1;
}

.game-overlay button {
	position: relative;
	transform: translate(-50%);
	left: 50%;
	top: 300px;
	width: 200px;
	height: 60px;
	border: 1px solid #ebf0f6;
	border-radius: 5%;
	font-size: 25px;
	padding: 0;
	background: transparent;
	cursor: pointer;
	font-weight: 700;
	color: white;
}

.game-overlay button:hover {
	background: rgba(255, 255, 255, 0.3);
}

.show {
	display: block;
}

.game-buttons {
	position: absolute;
	top: 200px;
	left: 50px;
}

.game-buttons button {
	width: 100px;
	height: 50px;
	background: linear-gradient(#fff, #e1d54fe6);
	border: 1px solid black;
	border-radius: 5%;
	cursor: pointer;
}

.info-box {
	font-family: 'Roboto', sans-serif;
	color: #9b5225cc;
	background: white;
	border-radius: 5%;
	border: 4px solid;
}

#game-over {
	font-size: 40px;
	color: white;
	position: relative;
	top: 250px;
}

#active-player {
	font-size: 40px;
	text-transform: uppercase;
	width: 400px;
	margin: 35px auto;
}

#info-players {
	position: absolute;
	top: 150px;
	left: 780px;
	font-size: 20px;
	width: 150px;
	text-align: center;
}